.Pokemons {
  padding: 2rem;
  text-align: center;
}

.gridPokemons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.gridPokemons img {
  width: 6rem;
  height: 6rem;
}

.gridPokemons img:hover {
  cursor: pointer;
}
